.tituloProd{
    text-align: center;
}
.nombreProd{
color: rgb(196, 50, 171);
}
.imgs{
     max-width: 100%;
     max-height: 40%; 
}
.containerProd{
    display: grid;
    grid-template-columns: repeat(3, 35%); /* Crear 3 columnas de tamaño igual */
    gap: 1%; 
   
    padding-left: 1%;
    
}
.container{
    border-color: blue;
    border-width: 30px;
}

.cadaUna{
    flex-direction: column;
    align-items: center; /* Centra horizontalmente */
    justify-content: center; /* Centra verticalmente */
    margin-left: 20%;
}

